{% extends "base.html" %}

{% block content %}
<div class="container page-content">
    <table id="table-factureros" class="table table-hover align-middle">
        <thead class="">
            <tr>
                <th>nombre_completo</th>
                <th>actividad</th>
                <th>partida</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>nombre_completo</th>
                <th>actividad</th>
                <th>partida</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

{% block modal %}
{% endblock %}


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/table_factureros.js') }}"></script>

{% endblock %}