{% extends "base.html" %}

{% block content %}
<div class="container page-content">
    <table id="table-factureros" class="table table-hover align-middle">
        <thead class="">
            <tr>
                <th>id</th>
                <th>nombre_completo</th>
                <th>actividad</th>
                <th>partida</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>id</th>
                <th>nombre_completo</th>
                <th>actividad</th>
                <th>partida</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

{% block modal %}

<!-- Modal -->
<div class="modal fade" id="borrar-facturero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="modal-message">Prueba</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% endblock %}

{% block scripts %}

<script type="text/javascript" src="{{ url_for('static', filename='js/table_factureros.js') }}"></script>

{% endblock %}